<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>FigureLab</string>
  <key>CFBundleDisplayName</key><string>FigureLab</string>
  <key>CFBundleExecutable</key><string>FigureLab</string>
  <key>CFBundleIdentifier</key><string>tw.johnnylin.figurelab</string>
  <key>CFBundleIconFile</key><string>AppIcon</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.1</string>
  <key>CFBundleVersion</key><string>2</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
  <key>NSHumanReadableCopyright</key><string>圖稿排版與標註工具</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key><string>FigureLab 專案</string>
      <key>CFBundleTypeRole</key><string>Editor</string>
      <key>LSHandlerRank</key><string>Owner</string>
      <key>LSItemContentTypes</key><array><string>tw.johnnylin.figurelab.sloth</string></array>
      <key>CFBundleTypeIconFile</key><string>AppIcon</string>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key><string>tw.johnnylin.figurelab.sloth</string>
      <key>UTTypeDescription</key><string>FigureLab 專案</string>
      <key>UTTypeConformsTo</key><array><string>public.png</string><string>public.data</string></array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key><array><string>sloth</string></array>
        <key>public.mime-type</key><string>application/x-figurelab-sloth</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
